<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <title>MAKE THE EUROVISION SONG CONTEST A NATIONAL HOLIDAY!!!</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <main>
        {{{body}}}
    </main>

    <footer>
        Copyright by people who feel the music!
    </footer>

     
    <script src="/signature-browser-code.js" type="text/javascript"></script>
</body>
</html>
