<h1>MAKE THE <br><img class="saturate" src="https://upload.wikimedia.org/wikipedia/de/thumb/e/e1/Eurovision_Song_Contest.svg/640px-Eurovision_Song_Contest.svg.png" width="400" height='100'> <br>A NATIONAL HOLIDAY</h1>
{{!-- <img src="/ESC_Logo.png" width="500" height='150'> --}}
<div id="textfield"><p>
The Eurovision Song Contest is a celebration of European culture and history.
<br> 
<br>
Last year, over 180 million people worldwide viewed the final of the Eurovision Song Contest. <br>
The host countries are able to showcase their culture, art, history and modern image. <br>
By making it a national holiday, we will increase participation and interest in the contest, <br>
thereby increasing education about modern Europe and celebration of European culture among the population.  
</p></div>


<h2>PLEASE SIGN OUR PETITION</h2>


<div id= 'wrapper'>

<form id='signature-form' method='POST' action='/sign-petition'>

    {{#if error}}
        <div class='error'>{{error}}</div>
    {{/if}}



{{!--    
    <input id='firstname' type='text' name='firstname' placeholder='First Name*' value='{{firstname}}'>


   
    <input id='lastname' type='text' name='lastname' placeholder='Last Name*' value='{{lastname}}'> --}}

    <button class="down10" type='submit'>SIGN PETITION</button>
     
      <input type="hidden" name="_csrf" value="{{csrfToken}}">


    <canvas id='signature-canvas' width="350" height="100"></canvas>
    <input type='hidden' id='signature-code' name='signatureCode'>



</form>
</div>