<h1>MAKE THE <br><img class="blue" src="/static/logo.svg" width="400" height='100'> <br>A NATIONAL HOLIDAY</h1>

<img class="responsive" src="https://douzepoints.ch/wp-content/uploads/2019/12/Stage-2-1024x502.jpg" width="400" height='200'>

<div id= 'wrapper'>

<form  method='POST' action='/login'>

    {{#if error}}
        <div class='error'>{{error}}</div>
    {{/if}}



   <h2>PLEASE LOG IN</h2>
     <input id='email' type='text' name='email' placeholder='Email*' value='{{email}}'>

      <input id='password' type='text' name='password' placeholder='Password*' value='{{password}}'>


   

    <button class="up10" type='submit'>LogIn</button>
    
    <input type="hidden" name="_csrf" value="{{csrfToken}}">


<p>Are you registered? <br>
    Go and <a href="/register">signup to the petition</a>.</p>

</form>
</div>