<h1>Thank you for singing in{{firstname}} {{lastname}}!</h1>


<img src="{{signatureCode}}" alt="">

<p>Thanks a lot for signing the petition! 
    
Those are the other people who share our passion <a href="/signers"></a></p>