<h1>Thank you for singing in<br> {{firstname}} {{lastname}}!</h1>

<div id= 'wrapper'>
<img src="{{signatureCode}}" alt="">

<p>Thanks a lot for signing the petition! 
    
Those are the other people who share our passion: <a href="/signers"></a></p>

<form action="/unsign-petition" method="POST">
If you like to remove your signature from this petition,
push the button bellow:  
<button type="submit">UNSIGN</button>
<input type="hidden" name="_csrf" value="{{csrfToken}}"> 

</form>

</div>